@font-face {
font-family: "Bob";
src: url("Bob's_Burgers.ttf") format("opentype");
}

body {
	background-color: #BAFEFD;
	font-family: Bob;
	font-weight: bold;
}

#wrapper {
	max-width: 800px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 0px;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 300px;
}

#lists {
	clear: both;
}

#not-eaten {
	float:left;
}

#is-eaten {
	float: right;
}

#add-more {
	text-align: center;
	padding-top: 30px;
	clear: both;
}

ul {
	margin-top: 10px;
}

#is-eaten, #not-eaten {
	min-width: 40%;
}

li {
	font-size: 20px;
	clear: both;
}

.display-name {
	float: left;
}

.devour-burger {
	float: right;
}

.form-group {
	padding: 5px;
}